@import './theme.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bgColor);
  color: var(--textColor);
  transition: background-color 0.5s ease;
}

.App {
  min-height: 100vh;
  display: flex;
}
